<h1>Account Page</h1>

  <section class="account-whole-wrap">
    <div class="container">
      <div class="row">

          <div class="account-wrap">
            <div class="row">
              <div class="col-sm-3 mb-4 mx-auto account-pic">
                 <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->   
                 <% if @user.user_image? %>
                  <%= image_tag @user.user_image_url %>
                 <% else %>
                 <!-- デフォル時の表示 以前は、default_image_size -->
                  <%= image_tag("default_user_image.png",class:"img-thumbnail")%> 
                 <% end %><br><br>
                 <%= link_to "画像変更", edit_user_path,class:"btn btn-success"%>
              </div>
              <div class="col-sm-9">
                  <h5>Username: <span style="font-size: 0.9em"> <%= @user.username %></span></h5>
                  <h5>Email: <span style="font-size: 0.9em"> 
                     <!-- 本人のみEmailが表示されるようにする -->        
                    <% if user_signed_in? %>
                      <% if @user == current_user || current_user.admin? %>
                          <%= @user.email %>        
                      <% end %>
                    <% else %>
                      NONE
                    <% end %>
                  </span></h5>
                  <h5>Number of 
                      <% if @comments.length >= 2 %>
                       Comments:
                      <% else %>
                        Comment:
                      <% end %>
                      <%= @comments.length %>
                  </h5>
                </div>
             

              <div class="col-md-12">
                 <div style="border-bottom: 2px solid blue; padding-top: 15px;"></div>
                <div class="pt-4">
                    <h5 class="title-left mb-4">Comment History</h5>
                     <% @comments.each do |comment| %>
                       <div class="comments_box_user ">
                        <div class="row"><!--colを使わなかったのでrow出なくてもいいかもしれない。-->

                            <div class="media"><!-- media object -->
                             <% if @user.user_image? %>
                               <%= image_tag @user.user_image_url,class:"comment_pic " %>
                             <% else %>
                               <!-- デフォル時の表示 -->
                               <%= image_tag("default_user_image.png",class:"comment_pic mx-3 ")%>
                             <% end %>
                            <div class="media-body pl-2">
                              Posted  <%= time_ago_in_words (comment.created_at) %> ago 
                              <p class="pr-3"><%= comment.content %></p>
                            </div>
                          </div><!-- end of media object -->

                        </div><!-- end of row -->
                        
                      </div><!-- end of comments_box_user-->
                    <% end %><!-- end of comments.each -->



                
                </div><!-- end of pt-4 -->
              </div><!-- end of col-md-12 -->

            </div><!-- end of row -->
          </div><!-- end of account-wrap -->


      </div><!-- end of row-->
    </div><!-- end of container -->
  </section>
  






 


